<div id="title_container">
  <h1 style="font-size: 36px; font-weight: 600;color: #65318e;">Shift Operation Handover</h1>
</div>

<div class="row">

  <div class="column">
    <mat-card>
      <mat-card-header>
        <div mat-card-avatar><mat-icon>star</mat-icon></div>
        <mat-card-title>Operation Shift Handover</mat-card-title>
      </mat-card-header>
      <mat-card-content></mat-card-content>
      <mat-card-actions [align]=" 'end' ">
        <button mat-flat-button [routerLink]="['/add-shift-handover-page']">Add Shift Handover</button>
      </mat-card-actions>
    </mat-card>
  </div>

  <div class="column">
    <mat-card>
      <mat-card-header>
        <div mat-card-avatar><mat-icon>star</mat-icon></div>
        <mat-card-title>Shift Handover Record</mat-card-title>
      </mat-card-header>
      <mat-card-content></mat-card-content>
      <mat-card-actions [align]=" 'end' ">
        <button mat-flat-button [routerLink]="['/shift-handover-page']">View Shift Handover</button>
      </mat-card-actions>
    </mat-card>
  </div>

  <div class="column">
    <mat-card>
      <mat-card-header>
        <div mat-card-avatar><mat-icon>star</mat-icon></div>
        <mat-card-title>Outgoing Approval</mat-card-title>
      </mat-card-header>
      <mat-card-content></mat-card-content>
      <mat-card-actions [align]=" 'end' ">
        <button mat-flat-button [routerLink]="['/outgoing-approval-list-page']">View Outgoing</button>
      </mat-card-actions>
    </mat-card>
  </div>

  <div class="column">
    <mat-card>
      <mat-card-header>
        <div mat-card-avatar><mat-icon>star</mat-icon></div>
        <mat-card-title>Incoming Approval</mat-card-title>
      </mat-card-header>
      <mat-card-content></mat-card-content>
      <mat-card-actions [align]=" 'end' ">
        <button mat-flat-button [routerLink]="['/incoming-approval-list-page']">View Incoming</button>
      </mat-card-actions>
    </mat-card>
  </div>

</div>




