.grid-container{
  width: 100%;
  display: grid;
  row-gap: 10px;
}

.grid-item{
  width: 100%;
  padding: 15px;
}

button{
  color: white;
  background-color: #65318e;
}

.col {
  float: left;
  width: 50%;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}
