<div class="grid-container">
  <div class="grid-item" name="Operation Shift Handover" style="border: 3.5px solid #b44c97; margin-top: 14px;">
    <h2>Operation Shift Handover</h2>
    <br>
    <div [align]=" 'end' ">
      <button mat-flat-button [routerLink]="['/shift-handover-page']" style="margin-right: 10px;">View Shift Handover</button>
      <button mat-flat-button [routerLink]="['/add-shift-handover-page']">Add Shift Handover</button>
    </div>
  </div>

  <div class="row">
    <div class="col">
      <div class="grid-item" name="Outgoing Approvel" style="border: 3.5px solid #b44c97; margin-top: 10px;">
        <h2>Outgoing Approval</h2>
        <br>
        <div [align]=" 'end' ">
          <button mat-flat-button [routerLink]="['/outgoing-approval-list-page']">View Outgoing</button>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="grid-item" name="Incoming Approvel" style="border: 3.5px solid #b44c97; margin-top: 10px;">
        <h2>Incoming Approval</h2>
        <br>
        <div [align]=" 'end' ">
          <button mat-flat-button [routerLink]="['/incoming-approval-list-page']">View Incoming</button>
        </div>
      </div>
    </div>
  </div>

  <div class="grid-item" name="View Shift Handover" style="border: 3.5px solid #b44c97; margin-top: 14px; padding-bottom: 30px;">
  
    <app-shift-handover-page></app-shift-handover-page>
  </div>
</div>


