table {
  width: 100%;
}

.mat-form-field {
  font-size: 14px;
  width: 100%;
}

#editShiftHandoverButton{
  background-color: #89c3eb;
  color: white;
  padding-left: 25px;
  padding-right: 25px;
  margin: 5px;
}

#addShiftHandoverButton{
  background-color:#eb6ea5;
  color: white;
}
