table {
  width: 100%;
}

th.mat-header-cell, td.mat-cell{
  padding: 0.5rem;
}

.mat-form-field {
  font-size: 14px;
  width: 100%;
}

#addOutgoingApprovalButton{
  background-color: #89c3eb;
  color: white;
  margin: 5px;
}

.table-container{
  overflow: auto;
}

.mat-toolbar{
  padding: 0px;
}

.spacer {
  flex: 1 1 auto;
}
