<div *ngIf="shiftHandoverData" id="incomingApprovalDetailsLists">
  <div class="row">
    <div class="col" style="background-color: #f2a0a1; margin-left: 1em;">
      <h2>
        <label><b>Shift Handover ID:</b></label> {{shiftHandoverData.id}}
      </h2>
      <p>
        <label><b>Date:</b></label> {{shiftHandoverData.shiftdate01 | date}}
      </p>
      <p>
        <label><b>Shift:</b></label> {{shiftHandoverData.shift}}
      </p>
      <p>
        <label><b>Team:</b></label> {{shiftHandoverData.team}}
      </p>
      <br>
      <p>
        <label><b>Subrole:</b></label><br>{{shiftHandoverData.subrole}}
      </p>
    </div>

    <div class="col" style="margin-right: 1em;">
      <form [formGroup]="addIncomingApprovalForm">
        <div class="row01">
          <div class="col0101">
            <mat-form-field appearance="fill">
              <mat-label>Incoming approved by</mat-label>
              <input matInput formControlName="incomingapprovelby">
            </mat-form-field>
          </div>
          <div class="col0201">
            <mat-form-field appearance="fill" style="padding-left: 1em;">
              <mat-label>Date</mat-label>
              <input matInput [matDatepicker]="picker03" formControlName="shiftdate03">
              <mat-hint>MM/DD/YYYY</mat-hint>
              <mat-datepicker-toggle matSuffix [for]="picker03"></mat-datepicker-toggle>
              <mat-datepicker #picker03></mat-datepicker>
            </mat-form-field>
          </div>
        </div>

        <mat-form-field appearance="fill">
          <mat-label>Incoming with comment</mat-label>
          <input matInput formControlName="incomingwithcomment">
        </mat-form-field>
      </form>
      <div [align]=" 'end' ">
        <button mat-raised-button (click)="submitIncomingApprovalData()" style="background-color:mediumseagreen; color:white;"> Save </button>
      </div>

      <div id="outgoingApprovalData">
        <p>
          <label><b>Outgoing approved by:</b></label><br>{{shiftHandoverData.outgoingapprovedby}}, {{shiftHandoverData.shiftdate02 | date}}
        </p>
        <p>
          <label><b>Outgoing with comment:</b></label><br>{{shiftHandoverData.outgoingwithcomment}}
        </p>
      </div>
    </div>

  </div>


  <br>
  <h2>Health, Safety, Security and Enviromenet</h2>
    <h4>Safety Logs</h4>
    <table>
      <tr>
        <th style="width: 65%;">Description</th>
        <th style="width: 20%;">Log Date Time</th>
        <th style="width: 10%;">Status</th>
      </tr>
      <tr *ngFor="let safetylogs of shiftHandoverData.safety_logs">
        <td>{{safetylogs.safetydescription}}</td>
        <td>{{safetylogs.safetylogdate04 | date}}, {{safetylogs.safetylogtime01}}</td>
        <td>{{safetylogs.safetystatus}}</td>
      </tr>
    </table>

    <br>
    <h4>Override Logs</h4>
    <table>
      <tr>
        <th style="width: 50%;">Description</th>
        <th style="width: 20%;">Log Date Time</th>
        <th style="width: 15%;">Status</th>
        <th style="width: 15%;">Tag ID</th>
      </tr>
      <tr *ngFor="let overridelogs of shiftHandoverData.override_logs">
        <td>{{overridelogs.overridedescription}}</td>
        <td>{{overridelogs.overridelogdate05 | date}}, {{overridelogs.overridelogtime02}}</td>
        <td>{{overridelogs.overridestatus}}</td>
        <td>{{overridelogs.overridetagid}}</td>
      </tr>
    </table>

    <br>
      <h4>Permit to Work</h4>
      <table>
        <tr>
          <th style="width: 60%;">Description</th>
          <th>Type</th>
          <th>Permit ID</th>
          <th>Status</th>
          <th>Priority</th>
        </tr>
        <tr *ngFor="let permittoworks of shiftHandoverData.permit_to_works">
          <td>{{permittoworks.permitdescription}}</td>
          <td>{{permittoworks.permittype}}</td>
          <td>{{permittoworks.permitid}}</td>
          <td>{{permittoworks.permitstatus}}</td>
          <td>{{permittoworks.permitpriority}}</td>
        </tr>
      </table>

  <br>
  <h2>Instructions</h2>
    <h4>Dailly Operation Instruction</h4>
    <table>
      <tr>
        <th style="width: 50%;">Description</th>
        <th style="width: 15%;">Planned Start Time</th>
        <th style="width: 15%;">Planned End Time</th>
        <th style="width: 10%;">Status</th>
        <th style="width: 10%;">Priority</th>
      </tr>
      <tr>
        <td>{{shiftHandoverData.dailyoperationdescription}}</td>
        <td>{{shiftHandoverData.dailyoperationstartdate06 | date}}, {{shiftHandoverData.dailyoperationstarttime03}}</td>
        <td>{{shiftHandoverData.dailyoperationenddate07 | date}}, {{shiftHandoverData.dailyoperationendtime04}}</td>
        <td>{{shiftHandoverData.dailyoperationstatus}}</td>
        <td>{{shiftHandoverData.dailyoperationpriority}}</td>
      </tr>
    </table>

    <br>
    <h4>Standing Instruction</h4>
    <table>
      <tr>
        <th style="width: 50%;">Description</th>
        <th style="width: 15%;">Planned Start Time</th>
        <th style="width: 15%;">Planned End Time</th>
        <th style="width: 10%;">Status</th>
        <th style="width: 10%;">Tag ID</th>
      </tr>
      <tr *ngFor="let standinginstructions of shiftHandoverData.standing_instruction">
        <td>{{standinginstructions.standingdescription}}</td>
        <td>{{standinginstructions.standingstartdate08 | date}}, {{standinginstructions.standingstarttime05}}</td>
        <td>{{standinginstructions.standingenddate09 | date}}, {{standinginstructions.standingendtime06}}</td>
        <td>{{standinginstructions.standingstatus}}</td>
        <td>{{standinginstructions.standingpriority}}</td>
      </tr>
    </table>

    <br>
    <h4>Basic Operation Care</h4>
    <table>
      <tr>
        <th style="width: 50%;">Description</th>
        <th style="width: 15%;">Planned Start Time</th>
        <th style="width: 15%;">Planned End Time</th>
        <th style="width: 10%;">Status</th>
        <th style="width: 10%;" colspan="2">Priority</th>
      </tr>
      <tr>
        <td>{{shiftHandoverData.operationcaredescription}}</td>
        <td>{{shiftHandoverData.operationcarestartdate | date}}, {{shiftHandoverData.operationcarestarttime}}</td>
        <td>{{shiftHandoverData.operationcareenddate | date}}, {{shiftHandoverData.operationcareendtime}}</td>
        <td>{{shiftHandoverData.operationcarestatus}}</td>
        <td>{{shiftHandoverData.operationcarepriority}}</td>
      </tr>
    </table>
    <table>
      <tr>
        <th colspan="5">Check List</th>
      </tr>
      <tr>
        <th style="width: 50%;">Check List Descriptions</th>
        <th style="width: 10%;">Result</th>
        <th style="width: 10%;">Remark</th>
        <th style="width: 15%;">Checked by</th>
        <th style="width: 15%;">Checked Date</th>
      </tr>
      <tr *ngFor="let operationchecklists of shiftHandoverData.operation_care_checklist">
        <td>{{operationchecklists.checklistdescriptions}}</td>
        <td>{{operationchecklists.checklistresult}}</td>
        <td>{{operationchecklists.checklistremark}}</td>
        <td>{{operationchecklists.checklistcheckedby}}</td>
        <td>{{operationchecklists.checklistcheckeddate | date}}, {{operationchecklists.checklistcheckedtime}}</td>
      </tr>
    </table>

  <br>
  <h2>Highlights (Operational Logs)</h2>
  <table>
    <tr>
      <th style="width: 10%;">Area</th>
      <th style="width: 55%;">Description</th>
      <th style="width: 10%;">Type</th>
      <th style="width: 15%;">Log Date Time</th>
      <th style="width: 10%;">Status</th>
    </tr>
    <tr *ngFor="let unitshighlights of shiftHandoverData.highlight_operational_logs">
      <td>{{unitshighlights.unitarea}}</td>
      <td>{{unitshighlights.unitdescription}}</td>
      <td>{{unitshighlights.unittype}}</td>
      <td>{{unitshighlights.unitlogdate | date}}, {{unitshighlights.unitlogtime}}</td>
      <td>{{unitshighlights.unitstatus}}</td>
    </tr>
  </table>

  <br>
  <h2>Maintenance Items</h2>
  <div class="MaintenanceItemDetailsTable">
    <table>
      <tr>
        <th>Description</th>
        <th>Tag ID</th>
        <th>Notification</th>
        <th>Work Order</th>
        <th>Planned Start Time</th>
        <th>Planned End Time</th>
        <th>Permit</th>
        <th>Status</th>
        <th>Priority</th>
      </tr>
      <tr *ngFor="let maintenances of shiftHandoverData.maintenance_items">
        <td>{{maintenances.maintenancedescription}}</td>
        <td>{{maintenances.maintenancetagid}}</td>
        <td>{{maintenances.maintenancenotificationno}} <br> {{maintenances.maintenancenotificationstatus}}</td>
        <td>{{maintenances.maintenanceworkoderno}} <br> {{maintenances.maintenanceworkorderstatus}}</td>
        <td>{{maintenances.maintenanceplanedstartdate | date}}</td>
        <td>{{maintenances.maintenanceplannedenddate | date}}</td>
        <td>{{maintenances.maintenancepermitnumber}} <br> {{maintenances.maintenancepermitstatus}}</td>
        <td>{{maintenances.maintenancestatus}}</td>
        <td>{{maintenances.maintenancepriority}}</td>
      </tr>
    </table>
  </div>

  <br>
  <h2>Shift Manning</h2>
  <table>
    <tr>
      <th style="width: 50%;">Name</th>
      <th style="width: 25%;">Sub Role</th>
      <th style="width: 25%;">Remarks</th>
    </tr>
    <tr *ngFor="let shiftmannings of shiftHandoverData.shift_mannings">
      <td>{{shiftmannings.shiftmanningname}}</td>
      <td>{{shiftmannings.shiftmanningsubrole}}</td>
      <td>{{shiftmannings.shiftmanningremarks}}</td>
    </tr>
  </table>

</div>
