label{
  font-family: Arial, sans-serif;
}

mat-form-field{
  width: 100%;
}

.mat-toolbar{
  padding: 0;
}

.spacer {
  flex: 1 1 auto;
}

#outgoingApprovalData{
  padding-top: 10px;
  padding-bottom: 20px;
}

#saveSubmitBtn{
  background-color:mediumseagreen;
  color:white;
}

#saveSubmitBtn:disabled{
  background-color:grey;
  color:white;
}

#approvalCards{
  height: 245px;
}

/*Columns in Row CSS*/
* {
  box-sizing: border-box;
}

.column {
  flex: 50%;
  padding: 13px;
}

.row {
  display: flex;

  margin-top: 10px;
  margin-bottom: 10px;
}

.col0101{
  float: left;
  width: 55%;
}

.col0201{
  float: left;
  width: 45%;
}

.row01:after {
  content: "";
  display: table;
  clear: both;
}

@media screen and (max-width: 576px) {
  .col{
    width: 100%;
  }
}

/*Table CSS*/
table{
  width: 100%;
}

td, tr{
  border: 1px solid;
  padding: 10px;
}

td{
  font-size: 15px;
  overflow: hidden;
  text-overflow: ellipsis;
}

th{
  border: 1px solid;
  padding: 10px;
  text-align: center;
  background-color: #dbd0e6;
}

tr:hover {
  background-color:lightgrey;
}

.SafetyLogsTable{
  width: 100%;
  overflow: auto;
  table-layout: fixed;
}

.OverrideLogsTable{
  width: 100%;
  overflow: auto;
  table-layout: fixed;
}

.PermitToWorkTable{
  width: 100%;
  overflow: auto;
  table-layout: fixed;
}

.DaillyOperationInstructionTable{
  width: 100%;
  overflow: auto;
  table-layout: fixed;
}

.StandingInstructionTable{
  width: 100%;
  overflow: auto;
  table-layout: fixed;
}

.BasicOperationCareTable{
  width: 100%;
  overflow: auto;
  table-layout: fixed;
}

.HighlightsOperationalLogsTable{
  width: 100%;
  overflow: auto;
  table-layout: fixed;
}

.MaintenanceItemDetailsTable{
  width: 100%;
  overflow: auto;
  table-layout: fixed;
}


